

body {
    /* width: 50%; */
    /* height: 1px; */
    background-color: rgb(180, 191, 191);
    color: rgb(59, 51, 51);
}

.navbar{
    display:flex;
    justify-content: space-around;
    color:white;       
}

.bi {
    margin-top:17vh;
}
.header-cartao{
    height: 100vh;
    Display: flex;
    justify-content: center;
    align-items: center;
}

.site-title{
    display:flex;
    align-items: center;
}

.square{
    width: 48px;
    height: 45px;
    box-shadow: -6px -6px 0px 0px black;
    border: 2px solid;
}

.section-first{
    /* margin-right: 15vw;*/
    /* margin-right:10vw;
    margin-left:5vw; */
    margin-top:3vh;
    padding-bottom: 5vh;
    /* background-image: linear-gradient(to bottom, rgb(75, 69, 69), rgb(180, 191, 191)); */
}


.cartao-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:3vh;}
    /* transform: scale(0.2) translateX(50vw);
    opacity:0;
    animation: linear 2s animacaoTitulo forwards;
    
}

@keyframes animacaoTitulo{
    100%{
    transform: scale(1) translateX(0vw);
    opacity:1;
    }
} */

/* .image-icons{
    margin-bottom:5vh;
} */

.cursos{
    display:flex;
    justify-content: space-around;
    
}

.introducao{
    text-align: center;
    margin-right:15vw;
        margin-left:15vw;
}

.title-section{
    text-align: center;
    margin-top:5vh;
    margin-bottom:6vh;
    color:white;
    padding: 4vh;
    text-transform: uppercase;
    
}

.title-color{
    color:rgb(114, 117, 117);
    
}


.second{
    display: grid;
    gap: 2em;
    grid-template-columns: 400px 400px;
    text-align: center;
    justify-content:center;
}

.h2{
    margin-bottom: 10vh;
    margin-top: 20vh;
    text-transform: uppercase;
    color:white;
}
.empresas{
    padding-left: 8vw;
    padding-right:8vw;
    justify-content: space-between;
    text-align: center;
    /* display: flex; */
    padding-bottom: 10vh;
}

.header-experiencias{
    font-size:2em;
}

.main-experiencias{
    font-size:1.5em;
}

.favicon{
    width: 5vw;
    height: 5vh;
    cursor:pointer;
}

.parag-footer{
    margin:0;
    color:white;
}

.footer-footer{
    display:flex;
    justify-content: space-around;
    text-align: center;
    align-content:center ;
}
.curriculo{
    margin-top:5vh;
    color:white;
    cursor:pointer;
}

.blog-main{
   
   text-align: center;
}

.row{
    margin-right:0;
}

.riscoMaldito{
    border-top: 1px black solid;
    display:flex;
}

/* .bolamaldita{
    height: 10px;
    width: 10px;
    border-radius: 50%;
} */
a{
    font-size:30px;
}
.icons-footer a:hover{
    list-style: none;
    color:whitesmoke;
    font-size: 2.5em;
    width:7vw;
    text-shadow: 0px 0px 10px 0px yellow;
    /* letter-spacing: 8px; */
    
    
}
.footer-footer{
    display:flex;
    justify-content: space-e;
}

.footer-experiencias{
    border-bottom: 1px solid rgb(114, 117, 117);

}

.fab{
    color:whitesmoke;
}

/**  animação da section skills*/
.anime{
    opacity:0;
    transform: translate3d(-100px,0,0);
    transition: .3s;
}
.anime-start{
    opacity:1;
    transform: translate3d(0,0,0);
}
/************fim***/


@media(max-width: 800px){
    .cartao-principal{
        margin-top: 10vh;
    } 
    .section-first{
        /* margin-right: 2vw;
        margin-left:5vw; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }   
    
    .image-icons{
        display:flex;
        flex-direction: column;
        margin-bottom:5vh;
       
    }
    
    .empresas{
        /* margin-left: 5vw; */
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    
    .footer-footer{
        display:flex;
        flex-direction: column;
    }
   
    .icons-footer{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .fab a:active{
        text-shadow: 0px 10px 0 black;
    }
    .fab{
        color:whitesmoke;
    }
    #experience .experience-container{
        position: relative;
        border-radius: 3px;
        margin-left: 40px;
        margin-bottom: 35px;
       /* background: black; */
    }
    
    #experience .experience-container::before,
    #experience .experience-container::after{
        position: absolute;
        content: "";
        display: block;
        margin-left: -40px;
    }
    
    #experience .experience-container::before{
        top: 11px;
        left: 0;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background:rgb(167, 167, 167);
    }
    
    #experience .experience-container::after{
        top: 20px;
        left: 5px;
        width: 1px;
        height: 115%;  
        background: #484848;
    }
    
    #experience .experience-container .details-box{
        position: relative;
        display: flex;
        flex-direction: column;
        /* background: #2b2b2b; */
        border: 1px solid #2b2b2b;
        border-radius: 3px;
        padding: 10px;
    }
    
    #experience .experience-container .details-box::after,
    #experience .experience-container .details-box::before{
        border-style: solid ;
        border-width: 10px;
        color: rgba(0,0,0,0);
        content: "";
        display: block;
        height: 0;
        position: absolute;
        top: 6px;
        width: 0;
    }
    
    /* #experience .experience-container .details-box::after{
        border-right: 15px solid #2b2b2b;
        left: -31px;
    } */
    
    #experience .experience-container .details-box::before{
        border-right: 10px solid #5c5c5c;
        left: -20px;
    }
    
    #experience .experience-container .content{
        position: relative;
        width: 100%;
        height: 45%; 
        color: #fff; 
    }
    
    #experience .experience-container .content::before{
        content: "";
        background-color: #797979;
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    #experience .experience-container:last-child{
        margin-bottom: 70px;
    }
    
    #experience .experience-container .descricao{
        width: 100%;
        height: 45%;
        margin-top: 5px;
        color: #888888;
        line-height: 22px;
        padding:10px 0;
    }
    
    #experience .experience-container{
        font-family: 'Baloo Bhai 2', cursive;
    }
    
    #experience .experience-container p{
        color:#a5a5a5;
        text-align: left;
        padding: 20px 0;
    }
    
}

@media(max-width: 375px){
    .cartao-principal{
        margin-top: 16vh;
    } 
    .seta{
        margin-top: -100px;
    }
    #experience .experience-container{
        position: relative;
        border-radius: 3px;
        margin-left: 40px;
        margin-bottom: 35px;
       /* background: black; */
    }
    
    #experience .experience-container::before,
    #experience .experience-container::after{
        position: absolute;
        content: "";
        display: block;
        margin-left: -40px;
    }
    
    #experience .experience-container::before{
        top: 11px;
        left: 0;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background:rgb(167, 167, 167);
    }
    
    #experience .experience-container::after{
        top: 35px;
        left: 5px;
        width: 1px;
        height: 100%;  
        background: #484848;
    }
    
    #experience .experience-container .details-box{
        position: relative;
        display: flex;
        flex-direction: column;
        /* background: #2b2b2b; */
        border: 1px solid #2b2b2b;
        border-radius: 3px;
        padding: 10px;
    }
    
    #experience .experience-container .details-box::after,
    #experience .experience-container .details-box::before{
        border-style: solid ;
        border-width: 10px;
        color: rgba(0,0,0,0);
        content: "";
        display: block;
        height: 0;
        position: absolute;
        top: 6px;
        width: 0;
    }
    
    /* #experience .experience-container .details-box::after{
        border-right: 15px solid #2b2b2b;
        left: -31px;
    } */
    
    #experience .experience-container .details-box::before{
        border-right: 10px solid #5c5c5c;
        left: -20px;
    }
    
    #experience .experience-container .content{
        position: relative;
        width: 100%;
        height: 45%; 
        color: #fff; 
    }
    
    #experience .experience-container .content::before{
        content: "";
        background-color: #797979;
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    #experience .experience-container:last-child{
        margin-bottom: 70px;
    }
    
    #experience .experience-container .descricao{
        width: 100%;
        height: 45%;
        margin-top: 5px;
        color: #888888;
        line-height: 22px;
        padding:10px 0;
    }
    
    #experience .experience-container{
        font-family: 'Baloo Bhai 2', cursive;
    }
    
    #experience .experience-container p{
        color:#a5a5a5;
        text-align: left;
        padding: 20px 0;
    }
}
    /****************************************************/

.bi-chevron-double-down{
    animation: bounce 2s normal forwards ease-in-out;
    animation-iteration-count: infinite;
}



@keyframes bounce{
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

/*******************************************************/

#experience .experience-container{
    position: relative;
    border-radius: 3px;
    margin-left: 40px;
    margin-bottom: 35px;
   /* background: black; */
}

#experience .experience-container::before,
#experience .experience-container::after{
    position: absolute;
    content: "";
    display: block;
    margin-left: -40px;
}

#experience .experience-container::before{
    top: 11px;
    left: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background:rgb(167, 167, 167);
}

#experience .experience-container::after{
    top: 35px;
    left: 5px;
    width: 1px;
    height: 100%;  
    background: #484848;
}

#experience .experience-container .details-box{
    position: relative;
    display: flex;
    flex-direction: column;
    /* background: #2b2b2b; */
    border: 1px solid #2b2b2b;
    border-radius: 3px;
    padding: 10px;
}

#experience .experience-container .details-box::after,
#experience .experience-container .details-box::before{
    border-style: solid ;
    border-width: 10px;
    color: rgba(0,0,0,0);
    content: "";
    display: block;
    height: 0;
    position: absolute;
    top: 6px;
    width: 0;
}

/* #experience .experience-container .details-box::after{
    border-right: 15px solid #2b2b2b;
    left: -31px;
} */

#experience .experience-container .details-box::before{
    border-right: 10px solid #5c5c5c;
    left: -20px;
}

#experience .experience-container .content{
    position: relative;
    width: 100%;
    height: 45%; 
    color: #fff; 
}

#experience .experience-container .content::before{
    content: "";
    background-color: #797979;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#experience .experience-container:last-child{
    margin-bottom: 70px;
}

#experience .experience-container .descricao{
    width: 100%;
    height: 45%;
    margin-top: 5px;
    color: #888888;
    line-height: 22px;
    padding:10px 0;
}

#experience .experience-container{
    font-family: 'Baloo Bhai 2', cursive;
}

#experience .experience-container p{
    color:#a5a5a5;
    text-align: left;
    padding: 20px 0;
}

.container-standard{
    width: 70%;
    position: relative;
    left: 15vw;
}