@charset "UTF-8";
@import url(font-awesome.min.css);

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

body {
    /* width: 50%; */
    /* height: 1px; */
    background-color: rgb(180, 191, 191);
    color: rgb(59, 51, 51);
    overflow: scroll;
}

.navbar{
    display:flex;
    justify-content: space-around;
    color:white;       
}

.bi {
    margin-top:17vh;
}
.header-cartao{
    height: 100vh;
    Display: flex;
    justify-content: center;
    align-items: center;
}

.site-title{
    display:flex;
    align-items: center;
}

.square{
    width: 48px;
    height: 45px;
    box-shadow: -6px -6px 0px 0px black;
    border: 2px solid;
}

.section-first{
    /* margin-right: 15vw;*/
    /* margin-right:10vw;
    margin-left:5vw; */
    margin-top:3vh;
    padding-bottom: 5vh;
    /* background-image: linear-gradient(to bottom, rgb(75, 69, 69), rgb(180, 191, 191)); */
}


.cartao-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:3vh;
    margin-top:30vh;    
}
    /* transform: scale(0.2) translateX(50vw);
    opacity:0;
    animation: linear 2s animacaoTitulo forwards;
    
}

@keyframes animacaoTitulo{
    100%{
    transform: scale(1) translateX(0vw);
    opacity:1;
    }
} */

/* .image-icons{
    margin-bottom:5vh;
} */

.cursos{
    display:flex;
    justify-content: space-around;
    
}

.introducao{
    text-align: center;
    margin-right:15vw;
    margin-left:15vw;
}

.title-section{
    text-align: center;
    margin-top:5vh;
    margin-bottom:6vh;
    color:white;
    padding: 4vh;
    text-transform: uppercase;
    
}

.title-color{
    color:rgb(114, 117, 117);
    
}


.second{
    display: grid;
    gap: 2em;
    grid-template-columns: 400px 400px;
    text-align: center;
    justify-content:center;
}

.h2{
    margin-bottom: 10vh;
    margin-top: 20vh;
    text-transform: uppercase;
    color:white;
}
.empresas{
    padding-left: 8vw;
    padding-right:8vw;
    justify-content: space-between;
    text-align: center;
    /* display: flex; */
    padding-bottom: 10vh;
}

.header-experiencias{
    font-size:2em;
}

.main-experiencias{
    font-size:1.5em;
}

.favicon{
    width: 5vw;
    height: 5vh;
    cursor:pointer;
}

.parag-footer{
    margin:0;
    color:white;
}

.footer-footer{
    display:flex;
    justify-content: space-around;
    text-align: center;
    align-content:center ;
}
.curriculo{
    margin-top:5vh;
    color:white;
    cursor:pointer;
}

.blog-main{
   
   text-align: center;
}

.row{
    margin-right:0;
}

/* .rown{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 0;
} */

.riscoMaldito{
    border-top: 1px black solid;
    display:flex;
}

/* .bolamaldita{
    height: 10px;
    width: 10px;
    border-radius: 50%;
} */
a{
    font-size:15px;
}
.icons-footer a:hover{
    list-style: none;
    color:whitesmoke;
    font-size: 1em;
    width:17vw;
    text-shadow: 0px 0px 10px 0px yellow;
    /* letter-spacing: 8px; */
    
    
}

.icons-footer{
    /* width:18vw; */
    font-size: 59px;
}

.footer-footer{
    display:flex;
    justify-content:space-evenly;
}

.footer-experiencias{
    border-bottom: 1px solid rgb(114, 117, 117);

}

.fab{
    color:whitesmoke;
}

/**  animação da section skills*/
.anime{
    opacity:0;
    transform: translate3d(-100px,0,0);
    transition: .3s;
}
.anime-start{
    opacity:1;
    transform: translate3d(0,0,0);
}
/************fim***/


@media(max-width: 800px){
    .cartao-principal{
        margin-top: 21vh;
    } 
    .section-first{
        /* margin-right: 2vw;
        margin-left:5vw; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }   
    
    .image-icons{
        display:flex;
        flex-direction: column;
        margin-bottom:5vh;
       
    }
    
    .empresas{
        /* margin-left: 5vw; */
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    
    .footer-footer{
        display:flex;
        flex-direction: column;
    }
   
    /* .icons-footer{
        display:flex;
        justify-content: space-between;
        align-items: center;
    } */
    
    .fab a:active{
        text-shadow: 0px 10px 0 black;
    }
    .fab{
        color:whitesmoke;
    }
    #experience .experience-container{
        position: relative;
        border-radius: 3px;
        margin-left: 40px;
        margin-bottom: 35px;
       /* background: black; */
    }
    
    #experience .experience-container::before,
    #experience .experience-container::after{
        position: absolute;
        content: "";
        display: block;
        margin-left: -40px;
    }
    
    #experience .experience-container::before{
        top: 11px;
        left: 0;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background:rgb(167, 167, 167);
    }
    
    #experience .experience-container::after{
        top: 20px;
        left: 5px;
        width: 1px;
        height: 115%;  
        background: #484848;
    }
    
    #experience .experience-container .details-box{
        position: relative;
        display: flex;
        flex-direction: column;
        /* background: #2b2b2b; */
        border: 1px solid #2b2b2b;
        border-radius: 3px;
        padding: 10px;
    }
    
    #experience .experience-container .details-box::after,
    #experience .experience-container .details-box::before{
        border-style: solid ;
        border-width: 10px;
        color: rgba(0,0,0,0);
        content: "";
        display: block;
        height: 0;
        position: absolute;
        top: 6px;
        width: 0;
    }
    
    /* #experience .experience-container .details-box::after{
        border-right: 15px solid #2b2b2b;
        left: -31px;
    } */
    
    #experience .experience-container .details-box::before{
        border-right: 10px solid #5c5c5c;
        left: -20px;
    }
    
    #experience .experience-container .content{
        position: relative;
        width: 100%;
        height: 45%; 
        color: #fff; 
    }
    
    #experience .experience-container .content::before{
        content: "";
        background-color: #797979;
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    #experience .experience-container:last-child{
        margin-bottom: 70px;
    }
    
    #experience .experience-container .descricao{
        width: 100%;
        height: 45%;
        margin-top: 5px;
        color: #888888;
        line-height: 22px;
        padding:10px 0;
    }
    
    #experience .experience-container{
        font-family: 'Baloo Bhai 2', cursive;
    }
    
    #experience .experience-container p{
        color:#a5a5a5;
        text-align: left;
        padding: 20px 0;
    }
    .rown{
        display:flex;
        flex-direction: column;
        
        margin-right: 0;
    }
    /* .icons-footer{
        display:flex;
        justify-content: space-evenly;
        width: 18vw;
        align-items: center;
        text-align: center;
    } */
    
}

@media(max-width: 375px){
    .cartao-principal{
        margin-top: 21vh;
    } 
    .seta{
        margin-top: -100px;
    }
    #experience .experience-container{
        position: relative;
        border-radius: 3px;
        margin-left: 40px;
        margin-bottom: 35px;
       /* background: black; */
    }
    
    #experience .experience-container::before,
    #experience .experience-container::after{
        position: absolute;
        content: "";
        display: block;
        margin-left: -40px;
    }
    
    #experience .experience-container::before{
        top: 11px;
        left: 0;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background:rgb(167, 167, 167);
    }
    
    #experience .experience-container::after{
        top: 35px;
        left: 5px;
        width: 1px;
        height: 100%;  
        background: #484848;
    }
    
    #experience .experience-container .details-box{
        position: relative;
        display: flex;
        flex-direction: column;
        /* background: #2b2b2b; */
        border: 1px solid #2b2b2b;
        border-radius: 3px;
        padding: 10px;
    }
    
    #experience .experience-container .details-box::after,
    #experience .experience-container .details-box::before{
        border-style: solid ;
        border-width: 10px;
        color: rgba(0,0,0,0);
        content: "";
        display: block;
        height: 0;
        position: absolute;
        top: 6px;
        width: 0;
    }
    
    /* #experience .experience-container .details-box::after{
        border-right: 15px solid #2b2b2b;
        left: -31px;
    } */
    
    #experience .experience-container .details-box::before{
        border-right: 10px solid #5c5c5c;
        left: -20px;
    }
    
    #experience .experience-container .content{
        position: relative;
        width: 100%;
        height: 45%; 
        color: #fff; 
    }
    
    #experience .experience-container .content::before{
        content: "";
        background-color: #797979;
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    #experience .experience-container:last-child{
        margin-bottom: 70px;
    }
    
    #experience .experience-container .descricao{
        width: 100%;
        height: 45%;
        margin-top: 5px;
        color: #888888;
        line-height: 22px;
        padding:10px 0;
    }
    
    #experience .experience-container{
        font-family: 'Baloo Bhai 2', cursive;
    }
    
    #experience .experience-container p{
        color:#a5a5a5;
        text-align: left;
        padding: 20px 0;
    }

    .icons-footer{
        display:flex;
        justify-content: space-evenly;
    }
}
    /****************************************************/

.bi-chevron-double-down{
    animation: bounce 2s normal forwards ease-in-out;
    animation-iteration-count: infinite;

}
.rown{
    display:flex;
    flex-direction: column;
    
    margin-right: 0;
}



@keyframes bounce{
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

/*******************************************************/

#experience .experience-container{
    position: relative;
    border-radius: 3px;
    margin-left: 40px;
    margin-bottom: 35px;
   /* background: black; */
}

#experience .experience-container::before,
#experience .experience-container::after{
    position: absolute;
    content: "";
    display: block;
    margin-left: -40px;
}

#experience .experience-container::before{
    top: 11px;
    left: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background:rgb(167, 167, 167);
}

#experience .experience-container::after{
    top: 35px;
    left: 5px;
    width: 1px;
    height: 100%;  
    background: #484848;
}

#experience .experience-container .details-box{
    position: relative;
    display: flex;
    flex-direction: column;
    /* background: #2b2b2b; */
    border: 1px solid #2b2b2b;
    border-radius: 3px;
    padding: 10px;
}

#experience .experience-container .details-box::after,
#experience .experience-container .details-box::before{
    border-style: solid ;
    border-width: 10px;
    color: rgba(0,0,0,0);
    content: "";
    display: block;
    height: 0;
    position: absolute;
    top: 6px;
    width: 0;
}

/* #experience .experience-container .details-box::after{
    border-right: 15px solid #2b2b2b;
    left: -31px;
} */

#experience .experience-container .details-box::before{
    border-right: 10px solid #5c5c5c;
    left: -20px;
}

#experience .experience-container .content{
    position: relative;
    width: 100%;
    height: 45%; 
    color: #fff; 
}

#experience .experience-container .content::before{
    content: "";
    background-color: #797979;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#experience .experience-container:last-child{
    margin-bottom: 70px;
}

#experience .experience-container .descricao{
    width: 100%;
    height: 45%;
    margin-top: 5px;
    color: #888888;
    line-height: 22px;
    padding:10px 0;
}

#experience .experience-container{
    font-family: 'Baloo Bhai 2', cursive;
}

#experience .experience-container p{
    color:#a5a5a5;
    text-align: left;
    padding: 20px 0;
}

.container-standard{
    width: 70%;
    position: relative;
    left: 15vw;
}

#footer {
    padding: 4rem 0 2rem 0 ;
    background: #000;
    text-align: center;
}

    #footer a {
        color: rgba(255, 255, 255, 0.5);
    }

        #footer a:hover {
            color: #FFF;
        }

    #footer .copyright {
        color: #bbb;
        font-size: 0.9rem;
        margin: 0 0 2rem 0;
        padding: 0;
        text-align: center;
    }

    @media screen and (max-width: 736px) {

        #footer {
            padding: 3rem 0 1rem 0 ;
        }

    }

    ol {
		list-style: decimal;
		margin: 0 0 2rem 0;
		padding-left: 1.25rem;
	}

		ol li {
			padding-left: 0.25rem;
		}

	ul {
		list-style: disc;
		margin: 0 0 2rem 0;
		padding-left: 1rem;
	}

		ul li {
			padding-left: 0.5rem;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px;
				padding: 0.5rem 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1rem 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li .icon:before {
					font-size: 2rem;
				}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1rem 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			ul.actions.small li {
				padding: 0 0.5rem 0 0;
			}

			ul.actions.vertical li {
				display: block;
				padding: 1rem 0 0 0;
			}

				ul.actions.vertical li:first-child {
					padding-top: 0;
				}

				ul.actions.vertical li > * {
					margin-bottom: 0;
				}

			ul.actions.vertical.small li {
				padding: 0.5rem 0 0 0;
			}

				ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}

			ul.actions.fit {
				display: table;
				margin-left: -1rem;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1rem);
			}

				ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1rem;
				}

					ul.actions.fit li > * {
						margin-bottom: 0;
					}

				ul.actions.fit.small {
					margin-left: -0.5rem;
					width: calc(100% + 0.5rem);
				}

					ul.actions.fit.small li {
						padding: 0 0 0 0.5rem;
					}

			@media screen and (max-width: 480px) {

				ul.actions {
					margin: 0 0 2rem 0;
				}

					ul.actions li {
						padding: 1rem 0 0 0;
						display: block;
						text-align: center;
						width: 100%;
					}

						ul.actions li:first-child {
							padding-top: 0;
						}

						ul.actions li > * {
							width: 100%;
							margin: 0 !important;
						}

							ul.actions li > *.icon:before {
								margin-left: -2rem;
							}

					ul.actions.small li {
						padding: 0.5rem 0 0 0;
					}

						ul.actions.small li:first-child {
							padding-top: 0;
						}

			}
